<div id="educacion">
    <div class="row align-items-center justify-content-center">
        <div class="col-6 col-md-2">
            <h6 class="fw-bold">EDUCACIÓN</h6>
        </div>
    </div>
    <div class="row align-items-center mt-2 justify-content-start">
        <div class="col-2">
            <div class="d-flex justify-content-center align-items-center ">
                <button (click)="toEditable()" [disabled]="editable" [hidden]="editable" class="link-edit"><i class="fa fa-pencil-square-o"></i></button>
                <button [disabled]="!(editable && !addable)" [hidden]="!(editable && !addable)" (click)="add()" class="link-add"><i class="fa fa-plus"></i></button>
                <button (click)="toNotEditable()" [disabled]="!editable" [hidden]="!editable" class="link-save"><i class="fa fa-floppy-o"></i></button>            
            </div>
        </div>    
    </div>
    <div *ngFor="let formacion of formaciones; let i = index">
      <div class="row pt-2 justify-content-center  align-items-center">
          <div *ngIf="!editable && (formacion.anio != ''||formacion.titulo != '')" class="col-3 col-md-2 bg-primary rounded">
              <p class="educacion" id="anio">{{formacion.anio}}</p>
          </div>
          <div *ngIf="editable" class="col-3 col-md-2">
              <input type="text" [(ngModel)] = "formacion.anio" placeholder="Año/Años" maxlength="20" class="bg-white">
          </div>
          <div *ngIf="!editable && (formacion.anio != ''||formacion.titulo != '')" class="col-7 col-md-8 bg-primary rounded" style="margin-left: 2%;">
              <p>{{formacion.titulo}}</p>
          </div>
          <div *ngIf="editable" class="col-7 col-md-8">
              <input type="text" [(ngModel)] = "formacion.titulo" placeholder="Título" maxlength="100" class="bg-white">
          </div>
          <div *ngIf="editable" class="col-1">
              <button *ngIf="editable" (click)="clean(i)" class="link-papelera"><i class="fa fa-trash"></i></button>
          </div>
      </div>
    </div>
    <div *ngIf="addable">
      <div *ngFor= "let contador of contadorAddable" class="row pt-2 justify-content-center align-items-center">
          <div *ngIf="editable && visible" class="col-3 col-md-2">
              <input *ngIf="editable" type="text" [(ngModel)]="formacionAnio" placeholder="Año/Años" maxlength="20" class="bg-white">
          </div>
          <div *ngIf="editable && visible" class="col-7 col-md-8">
              <input *ngIf="editable" type="text" [(ngModel)]="formacionTitulo" placeholder="Título" maxlength="100" class="bg-white">
          </div>
          <div *ngIf="editable && visible" class="col-1">
              <button *ngIf="editable" (click)="visibleOff()" class="link-papelera"><i class="fa fa-trash"></i></button>
          </div>
      </div>
    </div>
</div>